
# HTID:18327748: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:18327748:

## PACMEC
RewriteEngine On

#RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
#RewriteRule ^/rpc http://181.129.103.142:8545 [R=301,L,NE]

RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/rpc
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/rpc
RewriteRule . index.php [L,QSA]
